body
  margin-top 40px

.text-black
  color #000

.text-white
  color #fff

.text-error
  color #c9302c

.text-success
  color #5cb85c
  text-decoration none
  &:focus,:active,:visited
    color #5cb85c
    text-decoration none
  &:hover
    color #5cb85c
    text-decoration none

.text-danger
  color #d9534f
  text-decoration none
  &:focus,:active,:visited
    color #d9534f
    text-decoration none
  &:hover
    color #d9534f
    text-decoration none

.btn-xs-round
  border-radius 50%
  line-height 1
  padding 2px 2px 1px 3px
  vertical-align middle
  text-align center