// this file is for design page principal details

@import 'nib'

.content_wrapper
    // border-top solid 1px black
    margin-top 125px
    .content
        margin-left 2% !important
        margin-right 2% !important
        
// .subfooter_wrapper
//     width 75%
// .welll
    // border-right solid 1px #2d2d2d
.ads-title
    display block



.follow-fb
    display block !important
    position relative !important
    text-align center
    z-index 0
    h4
        color #000
        font-size 24px
        font-weight 600



.adse-fixed
//  margin-top 50px
    display block
    // max-height 440px
    position static !important

// .adse-fixed > ins > ins > ins > iframe
//  height 350px

.cposts
    height 10em
    margin-left 5px
    margin-right 5px
    margin-bottom 3px
    position relative
    overflow hidden
    width 100%
    img
        // display block
        background-size cover
        background-repeat no-repeat
        height 100%
        width 100%
        z-index 900
    span
        color #F3F3F3
        font-size 24px
        font-weight bold
        position absolute
        text-align right
        text-shadow 1px 1px 2px #000
        text-transform uppercase
        top 5px
        left 5px
        right 5px
        z-index 930
        


@media screen and (max-width: 768px)
    .content_wrapper .content
        margin-left 3% !important
        margin-right 3% !important
    .navbar .container-fluid .navbar-header
        .header-logo
            display block
            text-align center
    .navbar-brand
        float none !important
        margin 0%
        margin-right 5px
        //text-align right
        // width 80%
        span
            width 100%
    .navbar-toggle
        display inline-block
        float left
        margin-top 0px

    .content_search
        //background #333
        border-radius 5px
        display inline-block
        //float right
        margin-right 20px
        margin-left 5px
        margin-top 0px
        margin-bottom 0px
        
        padding 0
        width 70%

    body
        width 99%
        
    .ads-title
        margin-top 20px

    .adse-fixed
        bottom 0px
        left 0px
        padding 0px
        position fixed !important
        text-align left
        width 100%
    // .follow-fb
    //  margin-top 350px
    footer
        padding-bottom 70px
    .qpaddingmob
        padding 0 0px 0 0px
    
    .subfooter_wrapper
        padding 0 10px 0 10px

.container-fluid .row .nav_social_mov
    margin-bottom 0px