@import 'nib'

.slider_bar
    padding-left 0% !important
    padding-right 0% !important
    margin-bottom 0
    div div div
        div.carousel-caption
            left 0px
            margin-left  0px
            margin-right 0px
            opacity 1 !important
            padding-top 0 !important
            width 100%
            h3
                margin-top 10px
                a
                    padding 0 10px 0 10px
                    text-shadow 1px 1px 2px #000
                    word-break keep-all
                    
.slider_bar
    // float left
    // margin-top 99px
    padding-left 0%
    padding-right 0%
    // margin-bottom 8%
    // position relative
    // width 100%

.div-gpt-ad-ca
    display inline-block
    height 100px
    width 100%

.fb-con
    background #2f477a
    color #fff
    padding-top 10px

// .tw-con
//     background #55acee
//     color #fff
//     padding-top 10px
    
// .inst-con
//     background #125688
//     colot #fff
//     padding-top 10px
//     h4
//         color #fff
        
.content_search
    background rgb(25,139,203)
    background rgba(25,139,203,.9)
    margin-bottom 10px
    opacity 0.8
    padding 5px
    form .form-group
        margin 0 !important
        label
            color #fff
            line-height 24px
            vertical-align middle
        div input
            font-family Helvetica sans-serif arial
            font-weight bold
            
input::-webkit-input-placeholder
    text-align center
input:-moz-placeholder
    text-align center
input::-moz-placeholder
    text-align center
input:-ms-input-placeholder
    text-align center
input::placeholder
    text-align center
        
.content_wrapper
    margin-top 0px !important
.content_wrapper .content .real_content
    // border solid 1px #000
    margin-left auto
    margin-right auto
    width 70%
    .content-posts
        .first-post
            height 320px !important
            // max-height 320px !important
            width 98.333% !important
            img
                height 320px !important
        .post-content
            // border solid 1px black
            display inline-table
            height 260px
            max-height 260px
            margin-bottom 5px
            overflow hidden
            position relative
            width 49%
            img
                background-size cover
                background-repeat no-repeat
                -webkit-filter grayscale(0)
                filter grayscale(0)
                // height 100%
                height 260px
                transition .3s ease
                -webkit-transition .3s ease
                width 100%
                z-index 900
            &:hover
                -webkit-filter grayscale(100%)
                filter grayscale(100%)
            .post-date
                text-shadow 1px 1px 2px #222
                color white
                left 20px
                top 20px
                position absolute
                z-index 999
            h2.post-title
                display table
                height 160px
                left 20px
                position absolute
                top 50px
                z-index 999
                small
                    text-shadow 2px 2px 2px #000
                    color white
                    display table-cell
                    font-size 22px !important
                    font-weight bold
                    padding-right 18px
                    padding-bottom 10px
                    text-align left
                    vertical-align bottom
            a.read-more
                border solid 2px white
                border-radius 3px
                bottom 10px
                color white
                cursor pointer
                font-size 12px
                left 20px
                padding 5px 8px 5px 8px
                position absolute
                text-decoration none
                text-transform uppercase
                z-index 999
            a.read-more:hover
                background-color white
                color #2d2d2d
                font-weight bold

@media screen and (max-width: 992px)
    .slider_bar
        margin-top 99px

@media screen and (max-width: 768px)
    .slider_bar
        div
            ol.carousel-indicators
                bottom 0px
            div div
                div.carousel-caption
                    bottom 0px
                    h3
                        margin-top 0px
    // .navbar .container-fluid .navbar-header
    //     .header-logo
    //         display block
    .content_wrapper .content
        margin-left 3% !important
        margin-right 3% !important
    .navbar .container-fluid .navbar-header
        .header-logo
            display block
            text-align center
    .navbar-brand
        float none !important
        margin 0%
        margin-right 5px
        //text-align right
        // width 80%
        span
            width 100%
    .navbar-toggle
        display inline-block
        float left
        margin-top 0px

    .content_search
        background #333
        border-radius 5px
        display inline-block
        float right
        margin-right 20px
        margin-left 5px
        margin-top 0px
        margin-bottom 0px
        
        padding 0
        width 70%
    
    .slider_bar
        margin-top 53px
    .content
        display inline
    .content_wrapper .content .real_content
        width 100% !important
        .content-posts .first-post
            height 260px !important
            width 100% !important
    .sidebar_wrapper
        float left !important
        margin-top 30px
        width 100% !important
    .post-content
        width 100% !important
        img
            width 100% !important
    .qpaddingmob
        padding 0 0px 0 0px
    
    .subfooter_wrapper
        padding 0 10px 0 10px
    

    // .content_search
    //     margin-right 5px
    //     margin-left 5px
    //     margin-top 5px
    //     margin-bottom 0px
    //     padding 0
    
