@font-face {
  font-family: 'coolvetica';
  src: url("../fonts/coolvetica.ttf");
  font-style: normal;
}
#sidebar-wrapper {
  background: #008ebb;
}
#sidebar-wrapper > .sidebar-nav {
  position: static;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
#sidebar-wrapper > .sidebar-nav > .sidebar-brand {
  height: 200px;
}
#sidebar-wrapper > .sidebar-nav > .sidebar-brand > a {
  text-align: center;
}
#sidebar-wrapper > .sidebar-nav > .sidebar-brand > a > img {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  max-height: 160px;
  max-width: 160px;
  width: 100%;
}
#wrapper >.page-content-header {
  background: #fff;
  border-bottom: solid 1px #808080;
  padding: 5px 20px 10px 20px;
  height: 100px;
  position: fixed;
  width: 80%;
  z-index: 999;
}
#wrapper >.page-content-header img {
  display: inline-block;
  max-height: 80px;
  max-width: 80px;
}
#wrapper >.page-content-header h1 {
  color: #000;
  display: inline-block;
  font-family: 'coolvetica';
  font-size: 48px;
  margin-left: 2%;
  top: -10px;
  position: relative;
  vertical-align: middle;
}
#wrapper > #page-content-wrapper > .container-fluid {
  margin-top: 105px;
}
.sidebar-nav > li:first-child {
  background: #0082bb;
}
.sidebar-nav > li {
  background: #777;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sidebar-nav > li > a {
  border-top: solid 1px #adadad;
  color: #2d2d2d;
  font-family: 'coolvetica';
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file > input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-widt: 100%;
  min-heigh: 100%;
  font-siz: 100px;
  text-alig: right;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  outline: none;
  background: #fff;
  cursor: inherit;
  display: block;
}
.imgsrc {
  height: 200px;
  width: 200px;
}
.slider {
  background: #afdaff;
  border-color: #428bca;
  margin: 10px 0 0 5px;
}
.slider .ui-slider-handle {
  background: #428bca;
  border-color: #428bca;
}
.text-white {
  color: #fff;
}
.text-white:hover,
.text-white :focus,
.text-white :visited,
.text-white :active {
  color: #f2f2f2;
}
