@import 'nib'

vendors-prefixes ?= webkit moz o ms official
support-for-ie ?= true

@font-face
  font-family 'coolvetica'
  src url('../fonts/coolvetica.ttf')
  font-style normal

#sidebar-wrapper
  background #008ebb
  & > .sidebar-nav
    position static
    top 0
    width 250px
    margin 0
    padding 0
    list-style none
    & > .sidebar-brand
      height 200px
      & > a
        text-align center
        & > img
          height 100%
          margin-left auto
          margin-right auto
          margin-top 5px
          max-height 160px
          max-width 160px
          width 100%

#wrapper
  & >.page-content-header
      background #fff
      border-bottom solid 1px gray
      padding 5px 20px 10px 20px
      height 100px
      position fixed
      width 80%
      z-index 999
      & img
        display inline-block
        max-height 80px
        max-width 80px
      & h1
        color #000
        display inline-block
        font-family 'coolvetica'
        font-size 48px
        margin-left 2%
        top -10px
        position relative
        vertical-align middle
  & > #page-content-wrapper
    & > .container-fluid
      margin-top 105px

.sidebar-nav
  & > li:first-child
    background #0082bb
  & > li
    background #777
    border-radius 5px
    & > a
      border-top solid 1px #adadad
      color #2d2d2d
      font-family 'coolvetica'

.btn-file
  position relative
  overflow hidden
  & > input[type=file]
    position absolute
    top 0
    right 0
    min-widt: 100%
    min-heigh: 100%
    font-siz: 100px
    text-alig: right
    opacity 0
    outline none
    background white
    cursor inherit
    display block

.imgsrc
  height 200px
  width 200px
.slider
  background #AFDAFF
  border-color #428bca
  margin 10px 0 0 5px
  & .ui-slider-handle
    background #428bca
    border-color #428bca

.text-white
  color #fff
  &:hover, :focus, :visited, :active
    color #f2f2f2